<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.url">jdbc:mysql://localhost:3306/ti</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.c3p0.timeout">3600</property>
		<property name="hibernate.c3p0.maxIdleTime">3600</property>
		<property name="hibernate.c3p0.acquire_increment">3</property>
		<property name="hibernate.c3p0.idle_test_period">10</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">75</property>
		<property name="hibernate.c3p0.max_statements">10</property>

		<property name="hibernate.c3p0.preferredTestQuery">select 1</property>
		<property name="hibernate.c3p0.testConnectionOnCheckout">true</property>


		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<!-- update validate -->
		<mapping class="ar.com.magm.ti.model.Entidad" />

		<mapping class="ar.com.magm.ti.model.Album" />
		<mapping class="ar.com.magm.ti.model.Artista" />
		<mapping class="ar.com.magm.ti.model.Cancion" />
		<mapping class="ar.com.magm.ti.model.Concierto" />
		<mapping class="ar.com.magm.ti.model.Genero" />
        <mapping class="ar.com.magm.ti.model.Playlist" />
        <mapping class="ar.com.magm.ti.model.Usuario" />

	</session-factory>
</hibernate-configuration>